---
- name: Extract file
  ansible.builtin.unarchive:
    src: "{{ downloader_tmp_dir ~ '/' ~ result_url | basename }}"
    dest: "{{ downloader_tmp_dir }}"
    remote_src: true

- name: Find executable files in extracted directory
  ansible.builtin.find:
    paths: "{{ downloader_tmp_dir }}"
    recurse: true
    file_type: file
  register: found_files

- name: Filter only executable files
  ansible.builtin.set_fact:
    executable_files: >-
      {{ found_files.files | selectattr('mode', 'search', '.*[157]$') | map(attribute='path') | list }}

- name: Copy file to {{ downloader_install_dir }}
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ downloader_install_dir }}"
    owner: "{{ downloader_binary_owner }}"
    group: "{{ downloader_binary_group }}"
    remote_src: true
    mode: '0755'
  loop:
    "{{ executable_files }}"
