---
- name: Determine src_filename
  ansible.builtin.set_fact:
    src_filename: "{{ result_url | basename }}"

- name: Determine dest_filename - split by dash
  ansible.builtin.set_fact:
    dest_filename: "{{ src_filename | split('-') }}"
  when: '"-" in src_filename'

- name: Determine dest_filename - split by period
  ansible.builtin.set_fact:
    dest_filename: "{{ src_filename | split('.') }}"
  when: '"." in src_filename'

- name: Copy file to {{ downloader_install_dir }}
  ansible.builtin.copy:
    src: "{{ downloader_tmp_dir ~ '/' ~ src_filename }}"
    dest: "{{ downloader_install_dir ~ '/' ~ dest_filename[0] }}"
    remote_src: true
    mode: '0755'
