---
- name: Run preflight checks
  ansible.builtin.include_tasks: tasks/preflight.yml

- name: Select binary
  ansible.builtin.include_tasks: tasks/select_binary.yml

- name: Create download directory
  ansible.builtin.file:
    path: "{{ downloader_tmp_dir }}"
    state: directory
    mode: '0750'

- name: Download the file
  ansible.builtin.get_url:
    url: "{{ result_url }}"
    dest: "{{ downloader_tmp_dir }}"
    mode: '0640'

- name: Handle archive
  ansible.builtin.include_tasks: tasks/handle_archive.yml
  when: result_url is match(downloader_archive_regex)

- name: Handle single binary
  ansible.builtin.include_tasks: tasks/handle_binary.yml
  when: result_url is not match(downloader_archive_regex)

- name: Delete download directory again
  ansible.builtin.file:
    path: "{{ downloader_tmp_dir }}"
    state: absent
  when: downloader_delete_tmp_dir
